/*Navbar*/
.navi{
    display: flex;
}

.navi button{
    background-color: white;
    border-radius: 50%;
    border: none;
    margin-right: 10px;
}

.sort-boutton{
    background-color: white;
    border-radius: 50%;
    border: none;
    margin-left: 20px;
}



/* Aside */

aside{
    background-color: rgba(235, 235, 235, 0.514);
}

aside.col-3{
    padding:0px;
}

aside>ul{
    text-align: center ;
    list-style: none;
    padding: 0;
}

aside> ul li {
    padding: 20px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

aside> ul li:hover{
    background-color: honeydew;
}

.active-school{
    background-color: #ffffff;
   font-weight: bold;
   margin-top: 60px;
}



/* main*/
main{
    margin-top: 70px;
    padding-left: 90px !important;
}

.card-list{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    border-radius: 35px;
    
}
.text-list p{
  margin: 0;

}

.text-list{
    display: flex;
    align-self: center;
}

.text-list input{
    margin-right: 50px;
    margin-left : 20px;
}

.card-list button{
    margin-right: 30px;
}
 .very-important{
    border: rgba(255, 0, 0, 0.281) 3px solid;
}

.important{
    border: rgba(255, 166, 0, 0.534) 3px solid;
}

.less-important{
    border: rgba(255, 255, 0, 0.562) 3px solid;
} 

/*boutton plus*/
div.button-div{
    display: flex;
    justify-content: center;
}
button.button-plus{
    background-color: white;
    border-radius: 50%;
    border: none;
    margin-top: 20px;

}



input.check{
    
    /* position: absolute;
    top: 22px;
    left: 22px; */
    height: 25px;
    width: 25px;
    background-color: #eee;
  }


  /* icon edit*/
.edit{
    /* position: absolute;
    top: 3px;
    left: 722px; */
    background-color: white;
    border: none;
}

